.project-title{
    border-top: 2px solid seagreen;
    
}
.project-name{
    color: yellow;
    font-weight: bolder;
}
.project-details{
    font-weight: bold;
}
.git-img{
    height: 20px;

}
.git-btn{
    
        text-decoration: none;
        background-image: linear-gradient(45deg, black, black );
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        font-weight: bold;

       
}
.Live-btn{
    
    text-decoration: none;
    background-image: linear-gradient(45deg, seagreen, green );
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;

   
}
.project-img{
    height: 300px;
}
.project{
    margin-top: 50px;
    padding: 30px;
    background-color:  #0b4f66;
   
}
.project:hover{
    transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .project-btn{
    border: 1px solid aqua;
    color: white;
    text-decoration: none;
  
}
.project-btn:hover{
    border: 1px solid skyblue;
    color: springgreen;
}