body{
    background-color: #02475E;
}
    
/* .header-area{
    background-image: url(../../images/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
} */
.img-area{
    border: 5px solid black;
    margin-top: 50px;
    border-radius: 20px;
}
.info-area{
    margin-top: 150px;
    color: white;
    font-weight: bold;
}
.info{
    color:  coral;
    font-weight: bold;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,teal, green);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;

}