.expertise{
   
    margin-top: 100px;
    color: white;
}
.exp-title{
    border-top: 2px solid seagreen;

}
.expertise-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, teal, darkcyan );
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;

}
.exp-details{
    margin-left: 120px;
}